{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
  <div class="mlogin error"><p>Your username and password didn't match. Please try again.</p></div>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <div class="mlogin warning" ><p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p></div>
  {% else %}
<div class="mlogin warning"><p>Please login to see this page.</p></div>
  {% endif %}
{% endif %}
<div class="mlogin">
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
    <table>

    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    </table>
    <div><input type="submit" value="LOGIN" /></div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{# Assumes you setup the password_reset view in your URLconf #}
<div class="mlogin"><p><a href="{% url 'password_reset' %}">Lost password?</a></p></div>
{% endblock %}