<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title>Molnia Web Client</title>{% endblock %}

  <!-- CSS -->
  <!-- Loading Bootstrap -->
  <link href="{{ STATIC_URL }}css/Flat-ui-master/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
  <!-- Loading Flat UI -->
  <link href="{{ STATIC_URL }}css/Flat-ui-master/dist/css/flat-ui.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/Flat-ui-master/docs/assets/css/demo.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ STATIC_URL }}css/Flat-ui-master/dist/favicon.ico">
   <!-- Loading Molnia -->
  <link href="{{ STATIC_URL }}css/molnia.css" rel="stylesheet">
  {% block css %} {% endblock %}

  <!-- JS -->
  {% block header_js %} {% endblock %}
</head>

<body>
  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>