    {% extends "base_generic.html" %}

    {% block header_js %}
     <!--<script src="{{request.scheme}}://{{request.get_host}}/static/js/jquery-3.5.1.min.js"></script> -->
    <script>
        USERNAME = '{{ user.get_username }}';
        URL = '{{ request.scheme }}://{{ request.get_host }}{{ BASE_URL }}'; // root URL
        WEB_SOCKET_URL = '{{ WEB_SOCKET_URL }}'
    </script>
    <script src="{{ request.scheme }}://{{ request.get_host }}{{ BASE_URL }}/static/js/molnia.js"></script>
    <script src="{{ request.scheme }}://{{ request.get_host }}{{ BASE_URL }}/static/js/sockjs.js"></script>
    {% endblock %}

    {% block sidebar %}
    <div class="title">
        <span>Вы зарегистрированны как: </span><b> {{ user.get_username }} .</b>
        <div><a href="{% url 'logout'%}">Выйти.</a></div>
    </div>
    {% endblock %}

    {% block content%}
    <div id="canvas">
        <div id="title"><h1>Терминал администратора службы Messenger</h1></div>
        <div id="loading"><img src="../../static/img/loading.gif"/></div>
        <div id="interface" hidden>
            <div id="cmds_div">
                <div class="cmd_div">
                    <span>Команда</span>
                    <input class="cmd Empty form-control" type="text" onkeyup="onPressCmd(this)" onkeypress="onPressCmd(this)" onblur="onBlurCMD(this)" width="255"/>
                    <button class="send_cmd_btn btn btn-lg btn-success" onclick="send_cmd_click(event, this)" disabled >Отправить</button>
                    <button class="del_cmd_btn  btn  btn-lg btn-danger" onclick="del_cmd_click(this)" hidden >-</button>
                </div>
                <button id="add_cmd_btn" class="btn btn-lg btn-primary" onclick="add_cmd_click(this)">+</button>
            </div>
            <div id="terminal_div">
                <fieldset>
                    <legend>Терминал</legend>
                    <textarea id="terminal" readonly rows="15"></textarea>
                    <label>
                        <input id="lineBreak" type="checkbox" checked="true" onchange="changeLineBreak()">
                        перенос строки
                    </label>
                </fieldset>
            </div>
            <div class="msg_div">
                <form onsubmit="send_msg_click(event, this)">
                    <span>Сообщение</span>
                    <input id="msg" class="form-control" type="text" width="255"/>
                    <button type="submit" class="send_msg_btn btn btn-lg btn-success" >Отправить</button>
                </form>
            </div>
            <button id="clear_btn" class="btn btn-lg btn-warning" onclick="terminal_clear_click(this)">Очистить терминал</button>
            <button id="connect" class="btn btn-lg btn-success" url="{{URL}}" onclick="ConnectToWebSocket('{{URL}}')">Подключится к серверу</button>
        </div>
    </div>
    {% endblock %}
